flows.json
[
    {
        "id": "ed3d8672.319aa8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "85e17940.568a68",
        "type": "ibmiot",
        "z": "",
        "name": "",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "df1b44df.274cc8",
        "type": "ui_tab",
        "z": "",
        "name": "Forecast Data",
        "icon": "mi-cloud",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7db524ec.876d6c",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4B7930",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#183012",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#070807",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#074b14",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#377524",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#f5f5f5",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#4d9958",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#67c14e",
                    "edited": true
                },
                "base-font": {
                    "value": "Arial Black,Arial Black,Gadget,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Smart Agriculture System",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 10,
                "gy": 10,
                "cx": 10,
                "cy": 10,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a0473b4f.ade608",
        "type": "ui_group",
        "z": "",
        "name": "Hourly Forecast",
        "tab": "df1b44df.274cc8",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "e627c99.5782d38",
        "type": "ui_tab",
        "z": "",
        "name": "Current Weather Data",
        "icon": "wi-wu-sunny",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7e45613f.58206",
        "type": "ui_tab",
        "z": "",
        "name": "Smart Agriculture System",
        "icon": "mi-menu",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c6ec0b9e.8419a8",
        "type": "ui_tab",
        "z": "",
        "name": "Sensor Data",
        "icon": "mi-wifi",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ca185382.415b5",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "c6ec0b9e.8419a8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "87a57736.d6c318",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "c6ec0b9e.8419a8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "bce4101f.7c487",
        "type": "ui_group",
        "z": "",
        "name": "Soil_Temp",
        "tab": "c6ec0b9e.8419a8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "2b72bd55.44ec22",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "c6ec0b9e.8419a8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "a1d41fc1.ae6f5",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "c6ec0b9e.8419a8",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "e12c9efa.6ac14",
        "type": "ui_group",
        "z": "",
        "name": "Soil_Temp",
        "tab": "c6ec0b9e.8419a8",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "ac4b8e90.0b2fe",
        "type": "ui_group",
        "z": "",
        "name": "Motor Command",
        "tab": "c6ec0b9e.8419a8",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f5aa0213.9054d",
        "type": "ui_group",
        "z": "",
        "name": "Motor Command",
        "tab": "c6ec0b9e.8419a8",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1ec2b36a.a1ad9d",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "e627c99.5782d38",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "efd65130.6166d",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "e627c99.5782d38",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "94932060.59f85",
        "type": "ui_group",
        "z": "",
        "name": "Wind Speed",
        "tab": "e627c99.5782d38",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "f67eb803.d5b2f8",
        "type": "ui_group",
        "z": "",
        "name": "Current Data",
        "tab": "e627c99.5782d38",
        "order": 4,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "698b60fc.1b08b",
        "type": "ibmiot in",
        "z": "ed3d8672.319aa8",
        "authentication": "apiKey",
        "apiKey": "85e17940.568a68",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "612999",
        "applicationId": "",
        "deviceType": "IOTDevice",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "7d2f14ba.48059c",
                "67b9c2b7.13ee9c",
                "3f3a06ae.4a5b8a"
            ]
        ]
    },
    {
        "id": "d80c353a.4e5b08",
        "type": "debug",
        "z": "ed3d8672.319aa8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "7d2f14ba.48059c",
        "type": "function",
        "z": "ed3d8672.319aa8",
        "name": "Temperature",
        "func": "msg.payload=msg.payload.d.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 580,
        "wires": [
            [
                "d80c353a.4e5b08",
                "47808bcc.2ab354",
                "be5b90f.124d27"
            ]
        ]
    },
    {
        "id": "67b9c2b7.13ee9c",
        "type": "function",
        "z": "ed3d8672.319aa8",
        "name": "Humidity",
        "func": "msg.payload=msg.payload.d.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 621,
        "wires": [
            [
                "d80c353a.4e5b08",
                "8e247d8b.10a2b",
                "b3e974f7.8baaf8"
            ]
        ]
    },
    {
        "id": "3f3a06ae.4a5b8a",
        "type": "function",
        "z": "ed3d8672.319aa8",
        "name": "Soil_Temp",
        "func": "msg.payload=msg.payload.d.objectTemp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 660,
        "wires": [
            [
                "d80c353a.4e5b08",
                "e6913022.2c69",
                "9c99a6d9.3db298"
            ]
        ]
    },
    {
        "id": "47808bcc.2ab354",
        "type": "ui_text",
        "z": "ed3d8672.319aa8",
        "group": "ca185382.415b5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature  °C",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 579,
        "wires": []
    },
    {
        "id": "8e247d8b.10a2b",
        "type": "ui_text",
        "z": "ed3d8672.319aa8",
        "group": "87a57736.d6c318",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity %",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 708,
        "y": 619,
        "wires": []
    },
    {
        "id": "e6913022.2c69",
        "type": "ui_text",
        "z": "ed3d8672.319aa8",
        "group": "bce4101f.7c487",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Soil_Temp %",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 710,
        "y": 660,
        "wires": []
    },
    {
        "id": "be5b90f.124d27",
        "type": "ui_gauge",
        "z": "ed3d8672.319aa8",
        "name": "",
        "group": "ca185382.415b5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": " °C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 577,
        "wires": []
    },
    {
        "id": "b3e974f7.8baaf8",
        "type": "ui_gauge",
        "z": "ed3d8672.319aa8",
        "name": "",
        "group": "87a57736.d6c318",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "Percentage %",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 880,
        "y": 620,
        "wires": []
    },
    {
        "id": "9c99a6d9.3db298",
        "type": "ui_gauge",
        "z": "ed3d8672.319aa8",
        "name": "",
        "group": "bce4101f.7c487",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil_Temp",
        "label": "Percentage %",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 660,
        "wires": []
    },
    {
        "id": "218f610f.84c26e",
        "type": "ibmiot out",
        "z": "ed3d8672.319aa8",
        "authentication": "apiKey",
        "apiKey": "85e17940.568a68",
        "outputType": "cmd",
        "deviceId": "123456",
        "deviceType": "MotorDevice",
        "eventCommandType": "command",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 700,
        "y": 715,
        "wires": []
    },
    {
        "id": "41856c47.cd3aa4",
        "type": "ui_button",
        "z": "ed3d8672.319aa8",
        "name": "",
        "group": "ac4b8e90.0b2fe",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Motor On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"motoron\"}",
        "payloadType": "json",
        "topic": "",
        "x": 481,
        "y": 701,
        "wires": [
            [
                "218f610f.84c26e",
                "d80c353a.4e5b08",
                "53578aa2.480364"
            ]
        ]
    },
    {
        "id": "2621675f.288ce8",
        "type": "ui_button",
        "z": "ed3d8672.319aa8",
        "name": "",
        "group": "ac4b8e90.0b2fe",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Motor Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"motoroff\"}",
        "payloadType": "json",
        "topic": "",
        "x": 482,
        "y": 735,
        "wires": [
            [
                "218f610f.84c26e",
                "d80c353a.4e5b08",
                "c236eb14.1e74b8"
            ]
        ]
    },
    {
        "id": "c9d36ed5.ebbaf",
        "type": "http request",
        "z": "ed3d8672.319aa8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/weather?q=Salem, IN&appid=7633c5660fa549d0d85da11aa4fe7e87",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "67586c48.d01b54",
                "2b5d20d5.78617",
                "80121b52.371568",
                "d74712b7.19319",
                "90828ba0.916458",
                "c94f62b6.775e1",
                "48902800.5a6988",
                "10eb0375.930c9d",
                "75f45358.bfa7dc"
            ]
        ]
    },
    {
        "id": "c27940fe.d3114",
        "type": "inject",
        "z": "ed3d8672.319aa8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "c9d36ed5.ebbaf",
                "21c31708.427b88"
            ]
        ]
    },
    {
        "id": "67586c48.d01b54",
        "type": "debug",
        "z": "ed3d8672.319aa8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "b4ffd433.2b0d88",
        "type": "debug",
        "z": "ed3d8672.319aa8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1150,
        "y": 120,
        "wires": []
    },
    {
        "id": "2b5d20d5.78617",
        "type": "function",
        "z": "ed3d8672.319aa8",
        "name": "Temperature",
        "func": "msg.payload=msg.payload.main.temp-273.15;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 200,
        "wires": [
            [
                "c2e7326.878ffd",
                "2571c531.87ae1a"
            ]
        ]
    },
    {
        "id": "80121b52.371568",
        "type": "function",
        "z": "ed3d8672.319aa8",
        "name": "Humidity",
        "func": "msg.payload=msg.payload.main.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "4d2c6c10.19c504",
                "ecc265fd.8b5108"
            ]
        ]
    },
    {
        "id": "d74712b7.19319",
        "type": "function",
        "z": "ed3d8672.319aa8",
        "name": "Wind Speed",
        "func": "msg.payload=msg.payload.wind.speed;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "710b25d3.a770fc",
                "f1ed98b2.d5ea68"
            ]
        ]
    },
    {
        "id": "90828ba0.916458",
        "type": "function",
        "z": "ed3d8672.319aa8",
        "name": "Preasure",
        "func": "msg.payload=msg.payload.main.pressure;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 320,
        "wires": [
            [
                "19c5747.9d3de8c"
            ]
        ]
    },
    {
        "id": "c94f62b6.775e1",
        "type": "function",
        "z": "ed3d8672.319aa8",
        "name": "Weather Description",
        "func": "msg.payload=msg.payload.weather[0].description;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 360,
        "wires": [
            [
                "98f0dd93.943a"
            ]
        ]
    },
    {
        "id": "48902800.5a6988",
        "type": "function",
        "z": "ed3d8672.319aa8",
        "name": "Longitude",
        "func": "msg.payload=msg.payload.coord.lon;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 400,
        "wires": [
            [
                "de7107a8.94fa08"
            ]
        ]
    },
    {
        "id": "10eb0375.930c9d",
        "type": "function",
        "z": "ed3d8672.319aa8",
        "name": "Latitude",
        "func": "msg.payload=msg.payload.coord.lat;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 440,
        "wires": [
            [
                "93f0a9be.dfd538"
            ]
        ]
    },
    {
        "id": "8863e25d.4a1a2",
        "type": "function",
        "z": "ed3d8672.319aa8",
        "name": "Weather Description",
        "func": "msg.payload=msg.payload.list[0].weather[0].description;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 80,
        "wires": [
            [
                "f0244a6f.216758"
            ]
        ]
    },
    {
        "id": "23409b65.f72614",
        "type": "function",
        "z": "ed3d8672.319aa8",
        "name": "Wind Speed",
        "func": "msg.payload=msg.payload.list[0].wind.speed;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 120,
        "wires": [
            [
                "59fdb7f3.325408"
            ]
        ]
    },
    {
        "id": "c2e7326.878ffd",
        "type": "ui_text",
        "z": "ed3d8672.319aa8",
        "group": "efd65130.6166d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature  °C",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "4d2c6c10.19c504",
        "type": "ui_text",
        "z": "ed3d8672.319aa8",
        "group": "1ec2b36a.a1ad9d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity %",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 891,
        "y": 240,
        "wires": []
    },
    {
        "id": "710b25d3.a770fc",
        "type": "ui_text",
        "z": "ed3d8672.319aa8",
        "group": "94932060.59f85",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wind Speed m/s",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 899,
        "y": 280,
        "wires": []
    },
    {
        "id": "19c5747.9d3de8c",
        "type": "ui_text",
        "z": "ed3d8672.319aa8",
        "group": "f67eb803.d5b2f8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pressure Pa",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 887,
        "y": 320,
        "wires": []
    },
    {
        "id": "98f0dd93.943a",
        "type": "ui_text",
        "z": "ed3d8672.319aa8",
        "group": "f67eb803.d5b2f8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Weather Description",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 920,
        "y": 360,
        "wires": []
    },
    {
        "id": "de7107a8.94fa08",
        "type": "ui_text",
        "z": "ed3d8672.319aa8",
        "group": "f67eb803.d5b2f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Longitude",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 880,
        "y": 400,
        "wires": []
    },
    {
        "id": "93f0a9be.dfd538",
        "type": "ui_text",
        "z": "ed3d8672.319aa8",
        "group": "f67eb803.d5b2f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Latitude",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 875,
        "y": 440,
        "wires": []
    },
    {
        "id": "2571c531.87ae1a",
        "type": "ui_gauge",
        "z": "ed3d8672.319aa8",
        "name": "",
        "group": "efd65130.6166d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1150,
        "y": 200,
        "wires": []
    },
    {
        "id": "ecc265fd.8b5108",
        "type": "ui_gauge",
        "z": "ed3d8672.319aa8",
        "name": "",
        "group": "1ec2b36a.a1ad9d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "Percentage %",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1140,
        "y": 240,
        "wires": []
    },
    {
        "id": "f1ed98b2.d5ea68",
        "type": "ui_gauge",
        "z": "ed3d8672.319aa8",
        "name": "",
        "group": "94932060.59f85",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1150,
        "y": 280,
        "wires": []
    },
    {
        "id": "f0244a6f.216758",
        "type": "ui_text",
        "z": "ed3d8672.319aa8",
        "group": "a0473b4f.ade608",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Weather Description",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 960,
        "y": 80,
        "wires": []
    },
    {
        "id": "59fdb7f3.325408",
        "type": "ui_text",
        "z": "ed3d8672.319aa8",
        "group": "a0473b4f.ade608",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wind Speed  m/s",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 940,
        "y": 120,
        "wires": []
    },
    {
        "id": "75f45358.bfa7dc",
        "type": "function",
        "z": "ed3d8672.319aa8",
        "name": "Area",
        "func": "msg.payload=msg.payload.name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 569,
        "y": 480,
        "wires": [
            [
                "b4d291ef.da236"
            ]
        ]
    },
    {
        "id": "b4d291ef.da236",
        "type": "ui_text",
        "z": "ed3d8672.319aa8",
        "group": "f67eb803.d5b2f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Area",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "544a6a09.561fb4",
        "type": "function",
        "z": "ed3d8672.319aa8",
        "name": "Temperature",
        "func": "msg.payload=msg.payload.list[0].main.temp-273.15;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 40,
        "wires": [
            [
                "c43c4528.d247c8"
            ]
        ]
    },
    {
        "id": "c43c4528.d247c8",
        "type": "ui_text",
        "z": "ed3d8672.319aa8",
        "group": "a0473b4f.ade608",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature  °C",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 940,
        "y": 40,
        "wires": []
    },
    {
        "id": "53578aa2.480364",
        "type": "ui_toast",
        "z": "ed3d8672.319aa8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Motor is ON",
        "name": "",
        "x": 690,
        "y": 780,
        "wires": []
    },
    {
        "id": "c236eb14.1e74b8",
        "type": "ui_toast",
        "z": "ed3d8672.319aa8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Motor is OFF",
        "name": "",
        "x": 690,
        "y": 820,
        "wires": []
    },
    {
        "id": "21c31708.427b88",
        "type": "http request",
        "z": "ed3d8672.319aa8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/forecast?q=Salem, IN&appid=7633c5660fa549d0d85da11aa4fe7e87",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "544a6a09.561fb4",
                "8863e25d.4a1a2",
                "23409b65.f72614",
                "b4ffd433.2b0d88"
            ]
        ]
    }
]